body {
  margin: 0;
  background-color: #ddd;
  font-family: 'Merriweather', serif;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: blue;
}

.content {
  padding: 0;
  font-size: 14px;
  background-color: #ffffff;
  color: #424242;
  margin: 32px auto 32px;
  min-width: 30em;
  max-width: 939px;
  width: 80%;
  border: 1px solid black;
  box-shadow: 4px 4px darkgray;
}

@media screen and (max-width: 1024px) {
  .content {
    width: 95%;
  }
}

p {
  margin: 0 0 16px;
}

.header {
  position: relative;
  padding: 2em;
}

.inner-content {
  padding: 0 4em 2em 4em;
}

.content h1 {
  text-align: center;
  font-style: italic;
}

h2 {
  margin-bottom: 0.2em;
}

ul {
  margin: 0;
}

div.image-box {
  text-align: center;
  margin-bottom: 4em;
}

div.image-box img {
    max-width: 100%;
    object-fit: scale-down;
    margin-bottom: 0.5em;
}

span.image-caption {
  display: block;
}
